body {
	margin-top: 70px;
}

.navbar {
	background-color: #FFAB4C;
	height: 70px
}

.icon {
	margin-left: 10px;
	width: 100px;
	height: 50px;
}

.carousel-caption {
	font-family: comic sans ms;
	text-shadow: 10px 0px 10px rgba(0, 0, 0, 0.5);
}

.banner1 {
	height: 90vh;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.banner2 {
	height: 90vh;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.banner3 {
	height: 90vh;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.banner4 {
	height: 350px;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	color: white;
}

.pariwisata {
	margin-top: 10px;
	border: 5px solid black;
}

.slide1 {
	transform: translateY(-150%);
	bottom: initial;
}

hr {
	width: 350px;
	border-top: 2px solid black;
}

.banner4 h2 {
	font-family: comic sans ms;
	text-shadow: 10px 0px 10px rgba(0, 0, 0, 0.5);
	position: relative;
	top: 150px;
}

.about p {
	line-height: 2em;
	text-align: justify;
}

section {
	min-height: 350px;
}

.contact img {
	width: 200px;
}
